In [1]:
import mglearn
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import math
import seaborn as sns

In [2]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn import preprocessing

In [3]:
file = "C:\\Users\\Pratik\\Desktop\\FA\\ML\\ALL CSV FILES\\Assignment blank replaced.csv"
df = pd.read_csv(file)

In [4]:
print(df)

       age          workclass  fnlwgt      education  education-num  \
0       39          State-gov   77516      Bachelors             13
1       50   Self-emp-not-inc   83311      Bachelors             13
2       38            Private  215646        HS-grad              9
3       53            Private  234721           11th              7
4       28            Private  338409      Bachelors             13
5       37            Private  284582        Masters             14
6       49            Private  160187            9th              5
7       52   Self-emp-not-inc  209642        HS-grad              9
8       31            Private   45781        Masters             14
9       42            Private  159449      Bachelors             13
10      37            Private  280464   Some-college             10
11      30          State-gov  141297      Bachelors             13
12      23            Private  122272      Bachelors             13
13      32            Private  205019     Assoc-acdm             12
14      40            Private  121772      Assoc-voc             11
15      34            Private  245487        7th-8th              4
16      25   Self-emp-not-inc  176756        HS-grad              9
17      32            Private  186824        HS-grad              9
18      38            Private   28887           11th              7
19      43   Self-emp-not-inc  292175        Masters             14
20      40            Private  193524      Doctorate             16
21      54            Private  302146        HS-grad              9
22      35        Federal-gov   76845            9th              5
23      43            Private  117037           11th              7
24      59            Private  109015        HS-grad              9
25      56          Local-gov  216851      Bachelors             13
26      19            Private  168294        HS-grad              9
27      54                NaN  180211   Some-college             10
28      39            Private  367260        HS-grad              9
29      49            Private  193366        HS-grad              9
...    ...                ...     ...            ...            ...
48812   81                NaN   26711      Assoc-voc             11
48813   60            Private  117909      Assoc-voc             11
48814   39            Private  229647      Bachelors             13
48815   38            Private  149347        Masters             14
48816   43          Local-gov   23157        Masters             14
48817   23            Private   93977        HS-grad              9
48818   73       Self-emp-inc  159691   Some-college             10
48819   35            Private  176967   Some-college             10
48820   66            Private  344436        HS-grad              9
48821   27            Private  430340   Some-college             10
48822   40            Private  202168    Prof-school             15
48823   51            Private   82720        HS-grad              9
48824   22            Private  269623   Some-college             10
48825   64   Self-emp-not-inc  136405        HS-grad              9
48826   50          Local-gov  139347        Masters             14
48827   55            Private  224655        HS-grad              9
48828   38            Private  247547      Assoc-voc             11
48829   58            Private  292710     Assoc-acdm             12
48830   32            Private  173449        HS-grad              9
48831   48            Private  285570        HS-grad              9
48832   61            Private   89686        HS-grad              9
48833   31            Private  440129        HS-grad              9
48834   25            Private  350977        HS-grad              9
48835   48          Local-gov  349230        Masters             14
48836   33            Private  245211      Bachelors             13
48837   39            Private  215419      Bachelors             13
48838   64                NaN  321403        HS-grad              9
48839   38            Private  374983      Bachelors             13
48840   44            Private   83891      Bachelors             13
48841   35       Self-emp-inc  182148      Bachelors             13

               marital-status          occupation     relationship  \
0               Never-married        Adm-clerical    Not-in-family
1          Married-civ-spouse     Exec-managerial          Husband
2                    Divorced   Handlers-cleaners    Not-in-family
3          Married-civ-spouse   Handlers-cleaners          Husband
4          Married-civ-spouse      Prof-specialty             Wife
5          Married-civ-spouse     Exec-managerial             Wife
6       Married-spouse-absent       Other-service    Not-in-family
7          Married-civ-spouse     Exec-managerial          Husband
8               Never-married      Prof-specialty    Not-in-family
9          Married-civ-spouse     Exec-managerial          Husband
10         Married-civ-spouse     Exec-managerial          Husband
11         Married-civ-spouse      Prof-specialty          Husband
12              Never-married        Adm-clerical        Own-child
13              Never-married               Sales    Not-in-family
14         Married-civ-spouse        Craft-repair          Husband
15         Married-civ-spouse    Transport-moving          Husband
16              Never-married     Farming-fishing        Own-child
17              Never-married   Machine-op-inspct        Unmarried
18         Married-civ-spouse               Sales          Husband
19                   Divorced     Exec-managerial        Unmarried
20         Married-civ-spouse      Prof-specialty          Husband
21                  Separated       Other-service        Unmarried
22         Married-civ-spouse     Farming-fishing          Husband
23         Married-civ-spouse    Transport-moving          Husband
24                   Divorced        Tech-support        Unmarried
25         Married-civ-spouse        Tech-support          Husband
26              Never-married        Craft-repair        Own-child
27         Married-civ-spouse                 NaN          Husband
28                   Divorced     Exec-managerial    Not-in-family
29         Married-civ-spouse        Craft-repair          Husband
...                       ...                 ...              ...
48812      Married-civ-spouse                 NaN          Husband
48813      Married-civ-spouse      Prof-specialty          Husband
48814           Never-married        Tech-support    Not-in-family
48815      Married-civ-spouse      Prof-specialty          Husband
48816      Married-civ-spouse     Exec-managerial          Husband
48817           Never-married   Machine-op-inspct        Own-child
48818                Divorced     Exec-managerial    Not-in-family
48819      Married-civ-spouse     Protective-serv          Husband
48820                 Widowed               Sales   Other-relative
48821           Never-married               Sales    Not-in-family
48822      Married-civ-spouse      Prof-specialty          Husband
48823      Married-civ-spouse        Craft-repair          Husband
48824           Never-married        Craft-repair        Own-child
48825                 Widowed     Farming-fishing    Not-in-family
48826      Married-civ-spouse      Prof-specialty             Wife
48827               Separated     Priv-house-serv    Not-in-family
48828           Never-married        Adm-clerical        Unmarried
48829                Divorced      Prof-specialty    Not-in-family
48830      Married-civ-spouse   Handlers-cleaners          Husband
48831      Married-civ-spouse        Adm-clerical          Husband
48832      Married-civ-spouse               Sales          Husband
48833      Married-civ-spouse        Craft-repair          Husband
48834           Never-married       Other-service        Own-child
48835                Divorced       Other-service    Not-in-family
48836           Never-married      Prof-specialty        Own-child
48837                Divorced      Prof-specialty    Not-in-family
48838                 Widowed                 NaN   Other-relative
48839      Married-civ-spouse      Prof-specialty          Husband
48840                Divorced        Adm-clerical        Own-child
48841      Married-civ-spouse     Exec-managerial          Husband

                      race      sex  capital-gain  capital-loss  \
0                    White     Male          2174             0
1                    White     Male             0             0
2                    White     Male             0             0
3                    Black     Male             0             0
4                    Black   Female             0             0
5                    White   Female             0             0
6                    Black   Female             0             0
7                    White     Male             0             0
8                    White   Female         14084             0
9                    White     Male          5178             0
10                   Black     Male             0             0
11      Asian-Pac-Islander     Male             0             0
12                   White   Female             0             0
13                   Black     Male             0             0
14      Asian-Pac-Islander     Male             0             0
15      Amer-Indian-Eskimo     Male             0             0
16                   White     Male             0             0
17                   White     Male             0             0
18                   White     Male             0             0
19                   White   Female             0             0
20                   White     Male             0             0
21                   Black   Female             0             0
22                   Black     Male             0             0
23                   White     Male             0          2042
24                   White   Female             0             0
25                   White     Male             0             0
26                   White     Male             0             0
27      Asian-Pac-Islander     Male             0             0
28                   White     Male             0             0
29                   White     Male             0             0
...                    ...      ...           ...           ...
48812                White     Male          2936             0
48813                White     Male          7688             0
48814                White   Female             0          1669
48815                White     Male             0             0
48816                White     Male             0          1902
48817                White     Male             0             0
48818                White   Female             0             0
48819                White     Male             0             0
48820                White   Female             0             0
48821                White   Female             0             0
48822                White     Male         15024             0
48823                White     Male             0             0
48824                White     Male             0             0
48825                White     Male             0             0
48826                White   Female             0             0
48827                White   Female             0             0
48828                Black   Female             0             0
48829                White     Male             0             0
48830                White     Male             0             0
48831                White     Male             0             0
48832                White     Male             0             0
48833                White     Male             0             0
48834                White   Female             0             0
48835                White     Male             0             0
48836                White     Male             0             0
48837                White   Female             0             0
48838                Black     Male             0             0
48839                White     Male             0             0
48840   Asian-Pac-Islander     Male          5455             0
48841                White     Male             0             0

       hours-per-week  native-country   Income
0                  40   United-States    <=50K
1                  13   United-States    <=50K
2                  40   United-States    <=50K
3                  40   United-States    <=50K
4                  40            Cuba    <=50K
5                  40   United-States    <=50K
6                  16         Jamaica    <=50K
7                  45   United-States     >50K
8                  50   United-States     >50K
9                  40   United-States     >50K
10                 80   United-States     >50K
11                 40           India     >50K
12                 30   United-States    <=50K
13                 50   United-States    <=50K
14                 40             NaN     >50K
15                 45          Mexico    <=50K
16                 35   United-States    <=50K
17                 40   United-States    <=50K
18                 50   United-States    <=50K
19                 45   United-States     >50K
20                 60   United-States     >50K
21                 20   United-States    <=50K
22                 40   United-States    <=50K
23                 40   United-States    <=50K
24                 40   United-States    <=50K
25                 40   United-States     >50K
26                 40   United-States    <=50K
27                 60           South     >50K
28                 80   United-States    <=50K
29                 40   United-States    <=50K
...               ...             ...      ...
48812              20   United-States   <=50K.
48813              40   United-States    >50K.
48814              40   United-States   <=50K.
48815              50   United-States    >50K.
48816              50   United-States    >50K.
48817              40   United-States   <=50K.
48818              40   United-States   <=50K.
48819              40   United-States   <=50K.
48820               8   United-States   <=50K.
48821              45   United-States   <=50K.
48822              55   United-States    >50K.
48823              40   United-States   <=50K.
48824              40   United-States   <=50K.
48825              32   United-States   <=50K.
48826              40             NaN    >50K.
48827              32   United-States   <=50K.
48828              40   United-States   <=50K.
48829              36   United-States   <=50K.
48830              40   United-States   <=50K.
48831              40   United-States   <=50K.
48832              48   United-States   <=50K.
48833              40   United-States   <=50K.
48834              40   United-States   <=50K.
48835              40   United-States   <=50K.
48836              40   United-States   <=50K.
48837              36   United-States   <=50K.
48838              40   United-States   <=50K.
48839              50   United-States   <=50K.
48840              40   United-States   <=50K.
48841              60   United-States    >50K.

[48842 rows x 15 columns]

In [5]:
df['Income'].unique()

array([' <=50K', ' >50K', ' <=50K.', ' >50K.'], dtype=object)

In [6]:
label_encoder=preprocessing.LabelEncoder()
df['Income']=label_encoder.fit_transform(df['Income'])
df['Income'].unique()

array([0, 2, 1, 3], dtype=int64)

In [7]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [8]:
print(df.shape)

(48842, 15)

In [9]:
print(list(df.columns.values))

['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'Income']

In [10]:
print(df.isnull().sum())

age                  0
workclass         2799
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        2809
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     857
Income               0
dtype: int64

In [41]:
#df.fillna(df.median())

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,0
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,0
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,2
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,2
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,2
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,2
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,2
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,0
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,0
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,NaN,2
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,0
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,0
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,0
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,0
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,2
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,2
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,0
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,0
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,0
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,0
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,2
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,0
27,54,NaN,180211,Some-college,10,Married-civ-spouse,NaN,Husband,Asian-Pac-Islander,Male,0,0,60,South,2
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,0
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48812,81,NaN,26711,Assoc-voc,11,Married-civ-spouse,NaN,Husband,White,Male,2936,0,20,United-States,1
48813,60,Private,117909,Assoc-voc,11,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688,0,40,United-States,3
48814,39,Private,229647,Bachelors,13,Never-married,Tech-support,Not-in-family,White,Female,0,1669,40,United-States,1
48815,38,Private,149347,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,3
48816,43,Local-gov,23157,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1902,50,United-States,3
48817,23,Private,93977,HS-grad,9,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,1
48818,73,Self-emp-inc,159691,Some-college,10,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States,1
48819,35,Private,176967,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,1
48820,66,Private,344436,HS-grad,9,Widowed,Sales,Other-relative,White,Female,0,0,8,United-States,1
48821,27,Private,430340,Some-college,10,Never-married,Sales,Not-in-family,White,Female,0,0,45,United-States,1
48822,40,Private,202168,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,55,United-States,3
48823,51,Private,82720,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,1
48824,22,Private,269623,Some-college,10,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,1
48825,64,Self-emp-not-inc,136405,HS-grad,9,Widowed,Farming-fishing,Not-in-family,White,Male,0,0,32,United-States,1
48826,50,Local-gov,139347,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,NaN,3
48827,55,Private,224655,HS-grad,9,Separated,Priv-house-serv,Not-in-family,White,Female,0,0,32,United-States,1
48828,38,Private,247547,Assoc-voc,11,Never-married,Adm-clerical,Unmarried,Black,Female,0,0,40,United-States,1
48829,58,Private,292710,Assoc-acdm,12,Divorced,Prof-specialty,Not-in-family,White,Male,0,0,36,United-States,1
48830,32,Private,173449,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,1
48831,48,Private,285570,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,1
48832,61,Private,89686,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,48,United-States,1
48833,31,Private,440129,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,1
48834,25,Private,350977,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,40,United-States,1
48835,48,Local-gov,349230,Masters,14,Divorced,Other-service,Not-in-family,White,Male,0,0,40,United-States,1
48836,33,Private,245211,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,1
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,1
48838,64,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States,1
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,1
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,1
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,3

In [42]:
'''df.fillna(df['workclass'].mode()[0],inplace=True)
df.fillna(df['occupation'].mode()[0],inplace=True)
df.fillna(df['native-country'].mode()[0],inplace=True)

In [61]:
print(df.isna().sum())

age                  0
workclass         2799
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        2809
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     857
Income               0
dtype: int64

In [11]:
#Label Encoding
print(df.tail())

       age      workclass  fnlwgt   education  education-num  \
48837   39        Private  215419   Bachelors             13
48838   64            NaN  321403     HS-grad              9
48839   38        Private  374983   Bachelors             13
48840   44        Private   83891   Bachelors             13
48841   35   Self-emp-inc  182148   Bachelors             13

            marital-status        occupation     relationship  \
48837             Divorced    Prof-specialty    Not-in-family
48838              Widowed               NaN   Other-relative
48839   Married-civ-spouse    Prof-specialty          Husband
48840             Divorced      Adm-clerical        Own-child
48841   Married-civ-spouse   Exec-managerial          Husband

                      race      sex  capital-gain  capital-loss  \
48837                White   Female             0             0
48838                Black     Male             0             0
48839                White     Male             0             0
48840   Asian-Pac-Islander     Male          5455             0
48841                White     Male             0             0

       hours-per-week  native-country  Income
48837              36   United-States       1
48838              40   United-States       1
48839              50   United-States       1
48840              40   United-States       1
48841              60   United-States       3

In [45]:
'''char_cols = df.dtypes.pipe(lambda x: x[x == 'object']).index

for c in char_cols:
    df[c] = pd.factorize(df[c])[0]

In [13]:
#pd.get_dummies(df)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,Income,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,38,215646,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,53,234721,7,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,28,338409,13,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,37,284582,14,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6,49,160187,5,0,0,16,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,52,209642,9,0,0,45,2,0,0,0,...,0,0,0,0,0,0,0,1,0,0
8,31,45781,14,14084,0,50,2,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9,42,159449,13,5178,0,40,2,0,0,0,...,0,0,0,0,0,0,0,1,0,0
10,37,280464,10,0,0,80,2,0,0,0,...,0,0,0,0,0,0,0,1,0,0
11,30,141297,13,0,0,40,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,23,122272,13,0,0,30,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
13,32,205019,12,0,0,50,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
14,40,121772,11,0,0,40,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,34,245487,4,0,0,45,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,25,176756,9,0,0,35,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
17,32,186824,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
18,38,28887,7,0,0,50,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
19,43,292175,14,0,0,45,2,0,0,0,...,0,0,0,0,0,0,0,1,0,0
20,40,193524,16,0,0,60,2,0,0,0,...,0,0,0,0,0,0,0,1,0,0
21,54,302146,9,0,0,20,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
22,35,76845,5,0,0,40,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
23,43,117037,7,0,2042,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
24,59,109015,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
25,56,216851,13,0,0,40,2,0,1,0,...,0,0,0,0,0,0,0,1,0,0
26,19,168294,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
27,54,180211,10,0,0,60,2,0,0,0,...,0,0,0,1,0,0,0,0,0,0
28,39,367260,9,0,0,80,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
29,49,193366,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48812,81,26711,11,2936,0,20,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48813,60,117909,11,7688,0,40,3,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48814,39,229647,13,0,1669,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48815,38,149347,14,0,0,50,3,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48816,43,23157,14,0,1902,50,3,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48817,23,93977,9,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48818,73,159691,10,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48819,35,176967,10,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48820,66,344436,9,0,0,8,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48821,27,430340,10,0,0,45,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48822,40,202168,15,15024,0,55,3,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48823,51,82720,9,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48824,22,269623,10,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48825,64,136405,9,0,0,32,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48826,50,139347,14,0,0,40,3,0,1,0,...,0,0,0,0,0,0,0,0,0,0
48827,55,224655,9,0,0,32,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48828,38,247547,11,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48829,58,292710,12,0,0,36,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48830,32,173449,9,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48831,48,285570,9,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48832,61,89686,9,0,0,48,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48833,31,440129,9,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48834,25,350977,9,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48835,48,349230,14,0,0,40,1,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48836,33,245211,13,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48837,39,215419,13,0,0,36,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48838,64,321403,9,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48839,38,374983,13,0,0,50,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48840,44,83891,13,5455,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48841,35,182148,13,0,0,60,3,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [63]:
#df=pd.get_dummies(df, columns=["workclass"]).head()

In [64]:
#df=pd.get_dummies(df, columns=["education"]).head()

In [65]:
#df=pd.get_dummies(df, columns=["marital-status"]).head()

In [66]:
#df=pd.get_dummies(df, columns=["occupation"]).head()

In [68]:
#df=pd.get_dummies(df, columns=["relationship"]).head()

In [69]:
#df=pd.get_dummies(df, columns=["race"]).head()

In [70]:
#df=pd.get_dummies(df, columns=["sex"]).head()

In [71]:
#df=pd.get_dummies(df, columns=["native-country"]).head()

In [72]:
#df.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,Income,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,occupation_ Prof-specialty,relationship_ Husband,relationship_ Not-in-family,relationship_ Wife,race_ Black,race_ White,sex_ Female,sex_ Male,native-country_ Cuba,native-country_ United-States
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,1,0,0,1,0,1,0,1
1,50,83311,13,0,0,13,0,0,0,0,...,0,1,0,0,0,1,0,1,0,1
2,38,215646,9,0,0,40,0,0,0,0,...,0,0,1,0,0,1,0,1,0,1
3,53,234721,7,0,0,40,0,0,0,0,...,0,1,0,0,1,0,0,1,0,1
4,28,338409,13,0,0,40,0,0,0,0,...,1,0,0,1,1,0,1,0,1,0

In [26]:
one_hot_encoded_training_predictors = pd.get_dummies(df)

In [27]:
one_hot_encoded_training_predictors

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,Income,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,38,215646,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,53,234721,7,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,28,338409,13,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,37,284582,14,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6,49,160187,5,0,0,16,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,52,209642,9,0,0,45,2,0,0,0,...,0,0,0,0,0,0,0,1,0,0
8,31,45781,14,14084,0,50,2,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9,42,159449,13,5178,0,40,2,0,0,0,...,0,0,0,0,0,0,0,1,0,0
10,37,280464,10,0,0,80,2,0,0,0,...,0,0,0,0,0,0,0,1,0,0
11,30,141297,13,0,0,40,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,23,122272,13,0,0,30,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
13,32,205019,12,0,0,50,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
14,40,121772,11,0,0,40,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,34,245487,4,0,0,45,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,25,176756,9,0,0,35,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
17,32,186824,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
18,38,28887,7,0,0,50,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
19,43,292175,14,0,0,45,2,0,0,0,...,0,0,0,0,0,0,0,1,0,0
20,40,193524,16,0,0,60,2,0,0,0,...,0,0,0,0,0,0,0,1,0,0
21,54,302146,9,0,0,20,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
22,35,76845,5,0,0,40,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
23,43,117037,7,0,2042,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
24,59,109015,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
25,56,216851,13,0,0,40,2,0,1,0,...,0,0,0,0,0,0,0,1,0,0
26,19,168294,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
27,54,180211,10,0,0,60,2,0,0,0,...,0,0,0,1,0,0,0,0,0,0
28,39,367260,9,0,0,80,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
29,49,193366,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48812,81,26711,11,2936,0,20,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48813,60,117909,11,7688,0,40,3,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48814,39,229647,13,0,1669,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48815,38,149347,14,0,0,50,3,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48816,43,23157,14,0,1902,50,3,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48817,23,93977,9,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48818,73,159691,10,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48819,35,176967,10,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48820,66,344436,9,0,0,8,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48821,27,430340,10,0,0,45,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48822,40,202168,15,15024,0,55,3,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48823,51,82720,9,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48824,22,269623,10,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48825,64,136405,9,0,0,32,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48826,50,139347,14,0,0,40,3,0,1,0,...,0,0,0,0,0,0,0,0,0,0
48827,55,224655,9,0,0,32,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48828,38,247547,11,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48829,58,292710,12,0,0,36,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48830,32,173449,9,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48831,48,285570,9,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48832,61,89686,9,0,0,48,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48833,31,440129,9,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48834,25,350977,9,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48835,48,349230,14,0,0,40,1,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48836,33,245211,13,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48837,39,215419,13,0,0,36,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48838,64,321403,9,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48839,38,374983,13,0,0,50,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48840,44,83891,13,5455,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
48841,35,182148,13,0,0,60,3,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [23]:
#one_hot_encoded_test_predictors = pd.get_dummies(X_test)

In [24]:
#one_hot_encoded_test_predictors

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
38113,41,151856,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
39214,57,87584,16,0,0,25,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
44248,31,220669,13,6849,0,40,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
10283,55,171355,11,0,0,20,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
26724,59,148626,6,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
20996,29,104423,10,4386,0,45,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
44337,50,89652,14,0,0,60,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
33771,45,178530,8,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
24651,42,139126,10,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
36398,22,176131,10,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
37689,56,222745,16,0,0,56,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
41336,42,165309,9,0,0,50,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
6384,35,38948,10,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
44415,38,180288,10,0,1977,60,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2571,21,148509,10,0,0,30,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
7110,34,177675,10,0,0,50,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
6613,23,221955,5,0,0,39,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8467,44,165108,14,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
47081,41,167081,14,0,2415,55,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
27267,62,181014,13,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
29974,44,308027,13,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
22469,45,368947,13,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
19359,28,232782,10,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
27710,52,317032,9,0,0,50,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
40076,34,140011,9,0,0,45,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
5007,63,298249,13,10605,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
20831,37,359131,9,0,0,48,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
40347,68,137518,9,0,0,33,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
31792,32,981628,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
29337,21,181096,10,0,0,20,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12043,39,188540,9,0,0,45,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
22544,62,205643,15,0,0,45,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
27463,18,478380,7,0,0,25,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
45497,57,202765,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
16125,21,219137,6,0,0,25,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
42050,36,185366,10,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
5603,23,320451,13,0,0,24,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
31891,59,53481,10,0,0,50,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
35592,25,25497,10,4101,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
6654,49,154451,7,0,0,35,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
23200,35,37778,11,3103,0,55,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9025,27,161683,7,0,0,42,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
23833,51,57101,5,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
13917,23,56774,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
13980,40,165815,10,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
38750,30,95923,12,0,0,45,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
13367,52,204584,13,0,0,42,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
35611,42,256448,10,0,0,15,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
23593,33,111567,11,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
10457,39,119098,11,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4124,25,511331,13,0,0,38,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
12705,40,188436,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
26940,22,65704,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
11124,47,109421,13,0,0,50,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
18762,31,156493,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
5386,23,142547,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
16379,20,347292,9,0,0,32,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
14305,25,214413,14,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4955,65,205024,9,0,0,8,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
41867,35,52738,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [25]:
#final_train, final_test = one_hot_encoded_training_predictors.align(one_hot_encoded_test_predictors,join='left', axis=1)

In [21]:
'''from sklearn.preprocessing import LabelEncoder, OneHotEncoder
X = df.iloc[:, :].values
le = LabelEncoder()
X[1] = le.fit_transform(X[1])
ohe = OneHotEncoder(categorical_features = [1])
X = ohe.fit_transform(X).toarray()

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-21-df3b63002953>, line 6)

In [73]:
'''X[6] = le.fit_transform(X[6])
ohe = OneHotEncoder(categorical_features = [6])
X = ohe.fit_transform(X).toarray()

In [74]:
'''X[13] = le.fit_transform(X[13])
ohe = OneHotEncoder(categorical_features = [13])
X = ohe.fit_transform(X).toarray()

In [73]:
print(df.tail())

   age  fnlwgt  education-num  capital-gain  capital-loss  hours-per-week  \
0   39   77516             13          2174             0              40
1   50   83311             13             0             0              13
2   38  215646              9             0             0              40
3   53  234721              7             0             0              40
4   28  338409             13             0             0              40

   Income  workclass_ Federal-gov  workclass_ Local-gov  \
0       0                       0                     0
1       0                       0                     0
2       0                       0                     0
3       0                       0                     0
4       0                       0                     0

   workclass_ Never-worked              ...                \
0                        0              ...
1                        0              ...
2                        0              ...
3                        0              ...
4                        0              ...

   occupation_ Prof-specialty  relationship_ Husband  \
0                           0                      0
1                           0                      1
2                           0                      0
3                           0                      1
4                           1                      0

   relationship_ Not-in-family  relationship_ Wife  race_ Black  race_ White  \
0                            1                   0            0            1
1                            0                   0            0            1
2                            1                   0            0            1
3                            0                   0            1            0
4                            0                   1            1            0

   sex_ Female  sex_ Male  native-country_ Cuba  native-country_ United-States
0            0          1                     0                              1
1            0          1                     0                              1
2            0          1                     0                              1
3            0          1                     0                              1
4            1          0                     1                              0

[5 rows x 34 columns]

In [46]:
print(df)

   age  fnlwgt   education  education-num       marital-status  \
0   39   77516   Bachelors             13        Never-married
1   50   83311   Bachelors             13   Married-civ-spouse
2   38  215646     HS-grad              9             Divorced
3   53  234721        11th              7   Married-civ-spouse
4   28  338409   Bachelors             13   Married-civ-spouse

     relationship    race      sex  capital-gain  capital-loss  \
0   Not-in-family   White     Male          2174             0
1         Husband   White     Male             0             0
2   Not-in-family   White     Male             0             0
3         Husband   Black     Male             0             0
4            Wife   Black   Female             0             0

               ...                workclass_ Self-emp-inc  \
0              ...                                      0
1              ...                                      0
2              ...                                      0
3              ...                                      0
4              ...                                      0

   workclass_ Self-emp-not-inc  workclass_ State-gov  workclass_ Without-pay  \
0                            0                     1                       0
1                            1                     0                       0
2                            0                     0                       0
3                            0                     0                       0
4                            0                     0                       0

   occupation_ Adm-clerical  occupation_ Exec-managerial  \
0                         1                            0
1                         0                            1
2                         0                            0
3                         0                            0
4                         0                            0

   occupation_ Handlers-cleaners  occupation_ Prof-specialty  \
0                              0                           0
1                              0                           0
2                              1                           0
3                              1                           0
4                              0                           1

   native-country_ Cuba  native-country_ United-States
0                     0                              1
1                     0                              1
2                     0                              1
3                     0                              1
4                     1                              0

[5 rows x 26 columns]

In [28]:
#Binning
df_bins = one_hot_encoded_training_predictors.copy()
print(df_bins['Income'].unique())
df_bins['Income'] =  df_bins['Income'].replace([0,1], 0)
df_bins['Income'] =  df_bins['Income'].replace([2,3], 1)
print(df_bins['Income'].unique())

[0 2 1 3]
[0 1]

In [29]:
X = df_bins.drop('Income',axis=1)
y = df_bins['Income']

In [15]:
#X = df.drop('Income',axis=1)
#y = df['Income']

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25,random_state=0)

In [31]:
#KNN
clf = KNeighborsClassifier(n_neighbors=3)

clf.fit(X_train, y_train)

training_accuracy = clf.score(X_train, y_train)
test_accuracy = clf.score(X_test, y_test)
print("KNN Classifier")
print("Train : %f" %  training_accuracy)
print("Test : %f" % test_accuracy )

KNN Classifier
Train : 0.867653
Test : 0.762591

In [32]:
#RANDOM FOREST
clf = RandomForestClassifier(n_jobs=-1)
clf.fit(X_train, y_train)
training_accuracy = clf.score(X_train, y_train)
test_accuracy = clf.score(X_test, y_test)
print("Random Forest")
print("Train : %f" %  training_accuracy)
print("Test : %f" % test_accuracy )

Random Forest
Train : 0.987852
Test : 0.848333

In [ ]:
'''n_trees = list(range(10,200,10))
for trees in n_trees:
    clf = RandomForestClassifier(n_estimators= trees,n_jobs=-1)
    clf.fit(X_train,np.ravel(y_train,order='C'))
    print("\ntrees : ",trees )
    test_accuracy = clf.score(X_test,y_test)
    train_accuracy = clf.score(X_train,y_train)
    print("test : ",test_accuracy)
    print("train : ",train_accuracy)

In [33]:
from sklearn.tree import DecisionTreeClassifier
best_score = 0

for depth in range(2,10):
    for split in range(2,5):
        for leaf in range(5,20):
            for criteria in ['gini', 'entropy']:
                tree_grid_search = DecisionTreeClassifier(criterion = criteria,
                                                         max_depth = depth,
                                                         min_samples_split = split,
                                                         max_leaf_nodes = leaf)
                tree_grid_search.fit(X_train, y_train)
                
                # evaluate the score on test
                score = tree_grid_search.score(X_test, y_test)
                
                if score > best_score:
                    best_score = score
                    best_parameters = {'Depth': depth,
                                      'Split': split,
                                      'Leaves': leaf,
                                      'Criteria' : criteria}

print("Best score = ", best_score)
print("Best Parameters = ", best_parameters)

Best score =  0.8554581934321513
Best Parameters =  {'Depth': 5, 'Split': 2, 'Leaves': 19, 'Criteria': 'gini'}

In [55]:
best_score = 0

for depth in range(2,10):
    for split in range(2,5):
        for leaf in range(5,20):
            for criteria in ['gini', 'entropy']:
                tree_grid_search = RandomForestClassifier(criterion = criteria,
                                                         max_depth = depth,
                                                         min_samples_split = split,
                                                         max_leaf_nodes = leaf)
                tree_grid_search.fit(X_train, y_train)
                
                # evaluate the score on test
                score = tree_grid_search.score(X_test, y_test)
                
                if score > best_score:
                    best_score = score
                    best_parameters = {'Depth': depth,
                                      'Split': split,
                                      'Leaves': leaf,
                                      'Criteria' : criteria}

print("Best score = ", best_score)
print("Best Parameters = ", best_parameters)

Best score =  0.8581606748014086
Best Parameters =  {'Depth': 8, 'Split': 2, 'Leaves': 19, 'Criteria': 'entropy'}

In [34]:
from sklearn.model_selection import GridSearchCV
depth = list(range(2,10))
split = list(range(2,5))
leaf = list(range(5,20))
criteria = ['gini','entropy']

param_grid = { 'max_depth' : depth,
             'min_samples_split' : split,
             'max_leaf_nodes' : leaf,
             'criterion' : criteria}



tree_grid_cv = DecisionTreeClassifier()

grid_search = GridSearchCV(tree_grid_cv, param_grid, cv=5)

grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, error_score='raise',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'max_depth': [2, 3, 4, 5, 6, 7, 8, 9], 'min_samples_split': [2, 3, 4], 'max_leaf_nodes': [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19], 'criterion': ['gini', 'entropy']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [35]:
print("Test Accuracy score = ", grid_search.score(X_test, y_test))

Test Accuracy score =  0.8516910981901564

In [36]:
print("Best Parameters = ", grid_search.best_params_)
print("Best score = ", grid_search.best_score_)

Best Parameters =  {'criterion': 'gini', 'max_depth': 6, 'max_leaf_nodes': 19, 'min_samples_split': 2}
Best score =  0.8540307389915646

In [37]:
depth = list(range(2,8))
split = list(range(2,5))
leaf = list(range(5,10))
criteria = ['gini','entropy']

param_grid = { 'max_depth' : depth,
             'min_samples_split' : split,
             'max_leaf_nodes' : leaf,
             'criterion' : criteria}



tree_grid_cv = RandomForestClassifier()

grid_search = GridSearchCV(tree_grid_cv, param_grid, cv=10)

grid_search.fit(X_train, y_train)

GridSearchCV(cv=10, error_score='raise',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'max_depth': [2, 3, 4, 5, 6, 7], 'min_samples_split': [2, 3, 4], 'max_leaf_nodes': [5, 6, 7, 8, 9], 'criterion': ['gini', 'entropy']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [38]:
print("Best Parameters = ", grid_search.best_params_)
print("Best score = ", grid_search.best_score_)
print("Training Accuracy score = ", grid_search.score(X_train, y_train))
print("Test Accuracy score = ", grid_search.score(X_test, y_test))

Best Parameters =  {'criterion': 'entropy', 'max_depth': 7, 'max_leaf_nodes': 9, 'min_samples_split': 3}
Best score =  0.8334743796238159
Training Accuracy score =  0.8286151074226747
Test Accuracy score =  0.8307263942347064

In [39]:
#CROSS VALIDATION
clf = RandomForestClassifier(n_estimators=200,n_jobs=-1)
print("cross-validation")
print ("train : ", np.mean(cross_val_score(clf, X_train, np.ravel(y_train,order='C'), cv=10)))
print ("test : ", np.mean(cross_val_score(clf, X_test, np.ravel(y_test,order='C'), cv=10)))

cross-validation
train :  0.8534024946577355
test :  0.853326255220221

In [40]:
#Gradient boosting
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier

In [57]:
clf = GradientBoostingClassifier(random_state=1,n_estimators=100, validation_fraction=0.2, n_iter_no_change=5,tol=0.01)
clf.fit(X_train,y_train)

TypeError: __init__() got an unexpected keyword argument 'validation_fraction'